@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0e0a0a;
  --background: #fcfbfb;
  --primary: #fb191b;
  --secondary: #dd9e9f;
  --accent: #fa3b3b;  

  --item-count: 8;
  --width: 200px;
  --height: 200px;
  --duration: 20s;
  --pos: ;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "--inter", --inter, Helvetica, sans-serif;
}

nav {
  z-index: 999;
}

.menu-bar, 
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  z-index: 2;
  display: flex;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-close-icon {
  flex: 1;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.menu-link-item {
  width: max-content;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
  position: relative;
}

.menu-link-item-holder link {
  color: #f4f4f5;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

.menu-info {
  display: flex;
}

.menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu-overlay-bar {
  position: absolute;
  top: 2em;
  left: 2em;
  right: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* For smaller screens (Making websites responsive sucks */
@media (max-width: 900px) {
  .menu-close-icon {
      display: none;
  }

  .menu-copy {
      padding-top: 8em;
  }

  .menu-link-item-holder a {
      font-size: 60px;
  }

  .menu-info {
      flex-direction: column;
      gap: 1em;
  }
}

.slider {
  height: var(--height);
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.slider div {
  position: absolute;
  max-width: var(--width);
  width: var(--width);
  height: var(--height);
  left: 100%;
  animation: infiniteScrolling var(--duration) linear infinite;
}

@keyframes infiniteScrolling {
  0% {
    left: 100%;
  }
  100% {
    left: calc(var(--width) * -1);
  }
}

@media (max-width: 640px) {
  .slider div {
    animation-delay: calc(var(--pos) * (-1 * var(--duration) / calc(var(--item-count) - 5)));
  }
}

@media (min-width: 640px) {
  .slider div {
    animation-delay: calc(var(--pos) * (-1 * var(--duration) / calc(var(--item-count) - 4)));
  }
}

@media (min-width: 768px) {
  .slider div {
    animation-delay: calc(var(--pos) * (-1 * var(--duration) / calc(var(--item-count) - 3)));
  }
}

@media (min-width: 1024px) {
  .slider div {
    animation-delay: calc(var(--pos) * (-1 * var(--duration) / calc(var(--item-count) - 2)));
  }
}

@media (min-width: 1280px) {
  .slider div {
    animation-delay: calc(var(--pos) * (-1 * var(--duration) / calc(var(--item-count) - 1)));
  }
}

@media (min-width: 1536px) {
  .slider div {
    animation-delay: calc(var(--pos) * (-1 * var(--duration) / calc(var(--item-count) - 0)));
  }
}